language: php
php:
  - 5.3
  - 5.4

env:
  - SYMFONY_VERSION=2.1.*
  - SYMFONY_VERSION=2.2.*

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar require symfony/symfony:${SYMFONY_VERSION}
  - php composer.phar --dev install

script:
  - phpunit -c phpunit.xml.dist --coverage-text --exclude-group functional
  - phpunit -c phpunit.xml.dist --coverage-text --group functional
