language: php
php:
  - 5.3
  - 5.4

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar --dev install

script:
  - phpunit -c phpunit.unit.functional.dist --coverage-text
  - phpunit -c phpunit.functional.xml.dist --coverage-text
